<div class="cornell_notes_listing" model_root="true" model="cornell_notes" model_id="<%= cornell_notes_listing.id %>">
  <div class="title" contenteditable><%=  cornell_notes_listing.title %></div>
  <div class="keys" contenteditable><%=  cornell_notes_listing.keys %></div>
  <div class="divider"></div>
  <div class="notes" contenteditable><%=  cornell_notes_listing.notes %></div>
  <div class="review" contenteditable><%=  cornell_notes_listing.review %></div>
</div>